
<%= form_for @user do |f| %>

  <div class="row">
  <aside class="col-md-4">
      <h1>
        <%= @user.name %>
      </h1>
　　　　
　　　　<div class="form-horizontal" role="form" style="clear:left;">
         <div class="form-group">
           <%= f.label :性別, :class => "col-sm-3 countrol-label" %>
           <div class="col-sm-7">
             <%= f.text_field :sex, :readonly => true, :class => "form-control" %>
            </div>
         </div>

         <div class="form-group">
           <%= f.label :メールアドレス, :class => "col-sm-3 countrol-label" %>
           <div class="col-sm-7">
             <%= f.text_field :email, :readonly => true, :class => "form-control" %>
           </div>
         </div>

         <div class="form-group">
           <%= f.label :年齢, :class => "col-sm-3 countrol-label" %>
           <div class="col-sm-7">
             <%= f.text_field :age, :readonly => true, :class => "form-control" %>
           </div>
         </div>
<% end %>

</div>